# Ignored files and folders
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.json

# Database files
database/*.db
database/local_chunks.db
database/*.index

# BAAI models
retrieval/bge-reranker-*/
src/retrieval/bge-reranker-*/
BAAI/
