# Ignored files and folders
.env
__pycache__/
*.pyc
*.pyo
*.pyd
*.json
vietnamese-legal-documents
# Database files
database/*.db
database/local_chunks.db
database/*.index

# BAAI models
retrieval/bge-reranker-*/
src/retrieval/bge-reranker-*/
BAAI/
