# Ignored files and folders
.env
.venv/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.json
vietnamese-legal-documents
# Database files
database/*.db
database/local_chunks.db
database/*.index

# BAAI models
retrieval/bge-reranker-*/
src/retrieval/bge-reranker-*/
BAAI/

# Local cache directory for HuggingFace models
.model_cache/

# Whitelist synonyms.json
!src/retrieval/synonyms.json
